.cover
  .cover-image
  .see-more
    .icon
      %i.glyphicon.glyphicon-menu-down

.works
  - @works.shuffle.each do |work|
    .work{style: "background-image: url(\"#{work.image.url}\")"}
      = image_tag work.image.url
