.catalogues
  - @gallery.catalogues.each do |catalogue|
    .catalogue
      = link_to catalogue_path(catalogue) do
        %h4
          = catalogue.name
        = image_tag catalogue.representative_image.url

