body
  background-color: #cccccc
  font-family: Ubuntu !important
  font-weight: 700
  overflow-x: hidden
header
  margin-bottom: 50px
  .navbar
    min-height: 0
.hidden
  display: none
.centred-text
  text-align: center
.menu
  background-color: black
  ul
    margin-top: 5px
    padding-left: 0
    list-style: none
    display: block
    text-align: center
    li.item
      display: inline-block
      margin: 5px 25px 0 25px
      font-size: 14px
      a
        display: inline
        color: white
        text-decoration: none
        &:hover
          background-color: inherit
          color: #FD6CA3
      a.active
        color: orange

.works
  margin: 20px
  .work
    border-radius: 4px
    border: 1px #cccccc solid
    box-shadow: 0 0 10px 0 rgba(39,49,65,0.1)
    padding: 5px
    img
      border-radius: 4px
      box-shadow: 0 0 10px 0 rgba(39,49,65,0.1)
      width: 100%
.works.catalogue-page
  .work
    width: 50%
    margin: 40px auto
.catalogues
  width: 60%
  margin: auto
  .catalogue
    display: inline-block
    width: 30%
    position: relative
    h4
      top: 40%
      left: 50%
      transform: translate(-50%, -50%)
      position: absolute
      display: none
      color: black
    &:hover
      opacity: 1
      h4
        display: block
    opacity: 0.8
    img
      border-radius: 4px
      box-shadow: 0 0 10px 0 rgba(39,49,65,0.1)
      width: 100%

.authform
  width: 50%
  margin: auto
